<div class="background">
  <mat-toolbar color="primary" class="example-toolbar">
    <h1>Trivia Quiz App</h1>
  </mat-toolbar>
</div>

<div>
  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened">
      <div class="content">
        <br/>
        <div>
          <mat-form-field>
            <mat-label class="category">selectcategory</mat-label>
            <mat-select (selectionChange)="selectCat($event.value)">
              <mat-option
                *ngFor="let selected of selectcategory"
                [value]="selected.value"
              >
                {{selected.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <br/>
        <div>
          <mat-form-field>
            <mat-label class="Difficulty">SelectDifficulty</mat-label>
            <mat-select (selectionChange)="selectDifficulty($event.value)">
              <mat-option
                *ngFor="let selected of SelectDifficulty"
                [value]="selected.value"
              >
                {{selected.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <br />
        <div>
          <mat-form-field>
            <mat-label class="Type">SelectType</mat-label>
            <mat-select (selectionChange)="selectType($event.value)">
              <mat-option
                *ngFor="let selected of SelectType"
                [value]="selected.value"
              >
                {{ selected.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </mat-sidenav>
    <mat-sidenav-content class="jumbotron">
      <p><mat-checkbox [(ngModel)]="opened">sidenav</mat-checkbox></p>
      <div class="question" *ngFor="let questionData of data">
        <mat-card>
          {{ questionData.question }}
          <div class="button">
            <mat-radio-group>
              <div class="row" style="margin-top: 3%">
                <mat-radio-button
                  *ngFor="let option of questionData.randomOptions"
                  [value]="option"
                  class="col"
                  (change)="radioChange($event.value, questionData)"
                >
                  {{ option }}
                </mat-radio-button>
                <mat-radio-button
                  *ngFor="let option of questionData.boolean"
                  [value]="option"
                  class="col"
                  (change)="radioChange($event.value, questionData)"
                >
                  {{ option }}
                </mat-radio-button>
              </div>
            </mat-radio-group>
          </div>
        </mat-card>
      </div>
      <div class="example-button-row">
        <button
          *ngIf="data"
          (click)="handleClick($event)"
          mat-raised-button
          color="primary"
        >
          Finish
        </button>
      </div>
      <div *ngIf="this.calculatedResults">
        Correct Answers: {{ correctAnsCount }} <br />
        Wrong Answers: {{ incorrectAnsCount }}
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

